stages:
  - build
  - dockerize
  - deploy

variables:
  IMAGE_TAG: latest
  DOCKER_IMAGE: rambhargav017/myapp
  EC2_HOST: ec2-16-171-150-63.eu-north-1.compute.amazonaws.com

build:
  stage: build
  image: eclipse-temurin:21-jdk
  script:
    - ./gradlew clean build -x test
  artifacts:
    paths:
      - build/libs/
    expire_in: 1h

dockerize:
  stage: dockerize
  image: docker:latest
  services: 
    - docker:dind
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
    - docker build -t $DOCKER_IMAGE:$IMAGE_TAG .
    - docker push $DOCKER_IMAGE:$IMAGE_TAG
    - echo "pushed docker image"

deploy:
  stage: deploy
  image: alpine:latest
  only:
    - master
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H $EC2_HOST >> ~/.ssh/known_hosts
  script:
      # Ensure target directory exists
    - ssh -i ~/.ssh/id_rsa ubuntu@$EC2_HOST "mkdir -p /home/ubuntu/app"
    - scp -i ~/.ssh/id_rsa docker-compose.yml ubuntu@$EC2_HOST:/home/ubuntu/app/docker-compose.yml
    - ssh -i ~/.ssh/id_rsa ubuntu@$EC2_HOST "
        cd /home/ubuntu/app &&
        echo '>> Logging in to Docker Hub...' &&
        echo '$DOCKER_PASSWORD' | docker login -u '$DOCKER_USER' --password-stdin &&
        echo '>> Pulling latest image...' &&
        docker compose pull &&
        echo '>> Restarting app...' &&
        docker compose up -d
      "
  environment:
    name: production

