stages:
  - build
  - dockerize
  - deploy

variables:
  IMAGE_TAG: latest
  DOCKER_IMAGE: rambhargav017/myapp

build:
  stage: build
  image: eclipse-temurin:21-jdk
  script:
    - ./gradlew clean build -x test
  artifacts:
    paths:
      - build/libs/
    expire_in: 1h

dockerize:
  stage: dockerize
  image: docker:latest
  services: 
    - docker:dind
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
    - docker build -t $DOCKER_IMAGE:$IMAGE_TAG .
    - docker push $DOCKER_IMAGE:$IMAGE_TAG
    - echo "pushed docker image"

deploy:
  stage: deploy
  image: alpine:latest
  only:
    - master
  before_script:
    - apk add --no-cache openssh
  script:
    - echo "$SSH_PRIVATE_KEY" > key.pem
    - chmod 600 key.pem
    - ssh -o StrictHostKeyChecking=no -i key.pem ec2-user@<EC2_PUBLIC_IP> '
        docker login -u "$DOCKER_USER" -p "$DOCKER_PASSWORD";
        docker pull rambhargav017/myapp:latest;
        docker stop myapp || true;
        docker rm myapp || true;
        docker run -d --name myapp -p 80:8080 rambhargav017/myapp:latest
      '
environment:
  name: production

