<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h2 th:if="${oauth_mode}">Authorize [[${client_name}]]</h2>
<h2 th:unless="${oauth_mode}">Login Page</h2>

<form method="post">
    <label>Username:</label>
    <input type="text" name="username" required><br><br>

    <label>Password:</label>
    <input type="password" name="password" required><br><br>

    <!-- Login button -->
    <button type="submit"
            th:formaction="${oauth_mode} ? '/oauth2/authorize' : '/home'"
            th:text="${oauth_mode} ? 'Authorize' : 'Login'">Login</button>
    <!-- signup button -->
    <button type="submit" formaction="/addUser" th:unless="${oauth_mode}">Signup</button>
</form>

<p th:if="${error}" th:text="${error}" style="color:red;"></p>

</body>
</html>
