<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Login</title>
</head>
<body>
<h2>Login</h2>
<p th:if="${error}" th:text="${error}" style="color:red;"></p>
<form method="post" action="/password/login" th:object="${passwordLoginDTO}">
    <label>Email:</label>
    <input type="email" th:field="*{email}" required>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></span><br><br>

    <label>Password:</label>
    <input type="password" th:field="*{password}" required>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"></span><br><br>

    <button type="submit">Submit</button>
</form>
<br>
<a href="/password/signup">
    <button type="button">Sign Up</button>
</a>
</body>
</html>